This notebook summarises data processes for geolocation workflow (work in progress, further verifications needed)

In [1]:
import pandas as pd
import csv

# Step 1: visual exploration for editing

## 1. Initital data set-up

In [2]:
#upload user data
user_df = pd.read_csv('anon_rosterm_id.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,42,80,81,82,93,126,128,177,215,256,257) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#select column to work with
user_df_selection = user_df[['ersatz_id','GCcleanPOBlat','GCcleanPOBlon','rawPOB','GCcleanPOBprec']].copy()

## 2. Grouping on coordinates for better map performance (without categories)

Before creating the map, the app should generate a dataframe that contains only unique lats and longs to display only these points

In [34]:
user_df_groupcoord = user_df[['GCcleanPOBlat','GCcleanPOBlon','ersatz_id']].copy()

In [35]:
reduced_dataset = user_df_groupcoord.groupby(['GCcleanPOBlat','GCcleanPOBlon']).count().reset_index()

In [37]:
reduced_dataset = reduced_dataset.rename(columns={'ersatz_id': 'count'})

In [38]:
reduced_dataset

      GCcleanPOBlat  GCcleanPOBlon  count
0        -45.852222     170.393825      1
1        -37.751355     145.061185      1
2        -36.862941     174.725387      1
3        -29.848212      30.922423      2
4        -25.758273      28.057521      2
...             ...            ...    ...
7424      70.370640      31.109547      1
7425      70.663438      23.681967      1
7426      78.788900      28.661400      2
7427      80.444167      46.201667      1
7428     139.638026      35.443708      1

[7429 rows x 3 columns]

In [ ]:
reduced_dataset.to_csv('reduced_data.csv')

## 3. Grouping on coordinates and on user selected column to display categories

If a user performs a break-down by category, the previous step should be run again, grouping also on categories, so that we don't lose points for a given category

In [5]:
# checking that the number of "categories" (unique values in a column) doesn't exceed 12

In [39]:
len(user_df_selection['GCcleanPOBprec'].unique()) > 12

False

In [47]:
user_df_groupcoord2 = user_df[['GCcleanPOBlat','GCcleanPOBlon','ersatz_id','GCcleanPOBprec']].copy()

In [48]:
reduced_dataset2 = user_df_groupcoord2.groupby(['GCcleanPOBlat','GCcleanPOBlon','GCcleanPOBprec']).count().reset_index()

In [50]:
reduced_dataset2 = reduced_dataset2.rename(columns={'ersatz_id': 'count'})

In [51]:
reduced_dataset2

      GCcleanPOBlat  GCcleanPOBlon GCcleanPOBprec  count
0        -45.852222     170.393825           town      1
1        -37.751355     145.061185           town      1
2        -36.862941     174.725387           town      1
3        -29.848212      30.922423           town      2
4        -25.758273      28.057521           town      2
...             ...            ...            ...    ...
7434      70.370640      31.109547           town      1
7435      70.663438      23.681967           town      1
7436      78.788900      28.661400           town      2
7437      80.444167      46.201667           town      1
7438     139.638026      35.443708           town      1

[7439 rows x 4 columns]

In [ ]:
reduced_dataset2.to_csv('reduced_data2.csv')

## 4. Data edits

The notebook containing the edits will be created dynamically from the interface, here is an example of how an edit might look like

In [ ]:
# data edits
# for example: modify latitude and longitude for ersatz id nr 25043
new_lat = '35.4437078' #user input
new_lon = '139.6380256' #user inout

In [ ]:
#create a copy of the selection to add modifs without changing initial user df
user_df_edit = user_df_selection.copy()

In [ ]:
user_df_edit.loc[25042,'GCcleanPOBlat'] = new_lat

In [ ]:
user_df_edit.loc[25042,'GCcleanPOBlon'] = new_lon

In [ ]:
user_df_edit.loc[25042]

ersatz_id                  25043
GCcleanPOBlat         35.4437078
GCcleanPOBlon        139.6380256
rawPOB            Yokohama Japan
GCcleanPOBprec              town
Name: 25042, dtype: object

## 5. Categories and counting

In [ ]:
# this step will probably be performed by interface

In [ ]:
user_df_groupby = user_df_edit.copy()

In [ ]:
#replace Nans with 'blank' to avoid the rows from being dropped
user_df_groupby = user_df_groupby.fillna('blank')

In [ ]:
# groupby and count the number of rows
user_df_groupby = user_df_groupby.groupby(['GCcleanPOBprec']).count().copy()

In [ ]:
user_df_groupby

                ersatz_id  GCcleanPOBlat  GCcleanPOBlon  rawPOB
GCcleanPOBprec
blank                 289            289            289     289
county                663            663            663     663
plus                  738            738            738     738
state                1246           1246           1246    1246
town                27828          27828          27828   27828

In [ ]:
#export result 
user_df_groupby.to_csv('user_df_groupby.csv')